.box{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.box form{
    width: 400px;
    text-align: center;
}
.form-control{
    width: 100%;
    text-align: center;
}
.input{
    width:95%;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 25px;
}
.text-area{
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}