h3 {
    font-family: 'Bahnschrift', sans-serif; /* Font ailesi */
    font-size: 3rem; /* Başlık boyutu */
    font-weight: bold; /* Kalın font */
    color: #2c3e50; /* Renk */
    text-align: center; /* Ortaya hizalama */
    border-bottom: 3px solid #2c3e50; /* Alt çizgi */
}
